<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="Shortcut Icon" href="{{ asset('img/favicon.png') }}" />

    <title>{% block meta_title %}Titre qu'on voit dans les onglets ;){% endblock %}</title>

    {% block stylesheets %}
        <!-- Bootstrap core CSS -->
        <link href="{{ asset('vendor/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">

        <!-- Custom fonts for this template -->
        <link href="{{ asset('vendor/fontawesome-free/css/all.min.css') }}" rel="stylesheet" type="text/css">
        <link href='https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet'
              type='text/css'>
        <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800'
              rel='stylesheet' type='text/css'>

        <!-- Custom styles for this template -->
        <link href="{{ asset('css/clean-blog.css') }}" rel="stylesheet">
    {% endblock %}
</head>

<body>
<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark fixed-top bg-dark" id="mainNav">
    <div class="container">
        <a class="navbar-brand" href="{{ path('homepage') }}">CodeBlog</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
                data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false"
                aria-label="Toggle navigation">
            Menu
            <i class="fas fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('homepage') }}">Home</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Admin
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="{{ path('category_index') }}">Catégories</a>
                        <a class="dropdown-item" href="{{ path('article_index') }}">Articles</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Hello
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="{{ path('hello_world') }}">Hello</a>
                        <a class="dropdown-item" href="{{ path('hello_firstname', { 'firstname' : 'igor' }) }} ">Hello Prénom</a>
                        <a class="dropdown-item" href="{{ path('hello_number', { 'number' : '4' }) }}">Hello 4</a>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</nav>
{# todo crado to fix and remove fixed top nav#}
<div class="container mt-5 pt-5">
{% block body %}
<!-- Page Header -->
<header class="masthead" style="background-image: url('{{ asset('img/landscape.gif') }}')">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                <div class="site-heading">
                    <h1>{% block title %}Titre{% endblock %}</h1>
                    <span class="subheading">{% block subtitle %}Sous titre{% endblock %}</span>
                </div>
            </div>
        </div>
    </div>
</header>

<!-- Main Content -->
<main class="container">
    <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                <div class="row">

                    <div class="col-sm-2 d-none d-sm-block">
                        <img class="img-fluid img-profile rounded-circle mx-auto mb-2" src="{{ asset('img/profile.jpg') }}" alt=""/>
                    </div>
                    <div class="col-sm-10">
                        <h2>Bienvenue sur le template de blog</h2>

                        <ul>
                            <li>
                                <a href="https://slides.com/gotorahoutan/epsi-symfony" target="_blank">
                                        <i class="fa fa-external-link-alt"></i>
                                    Les slides du prof
                                </a>
                            </li>
                            <li>
                                <a href="{{ asset('public_file/Cours_Symfony_4.pdf') }}" target="_blank">
                                    <i class="fa fa-file-pdf"></i>
                                    Le cours
                                </a>
                            </li>
                            <li>
                                <a href="https://symfony.com/doc/4.2/index.html" target="_blank">
                                    <i class="fa fa-external-link-alt"></i>
                                    Doc Symfony
                                </a>
                            </li>
                            <li>
                                <a href="https://twig.symfony.com/doc/2.x/" target="_blank">
                                    <i class="fa fa-external-link-alt"></i>
                                    Twig (template)
                                </a>
                            </li>
                            <li>
                                <a href="https://getbootstrap.com/docs/4.3/components/alerts/" target="_blank">
                                    <i class="fa fa-external-link-alt"></i>
                                    Bootstrap (css)
                                </a>
                            </li>
                        </ul>
                    </div>
                    <h4>L'exam :o</h4>
                    <p>
                        Remplacer les liens du menu pour qu'ils pointent sur les bonnes pages <em>/4pt</em>
                        <br><br>
                        Enlever le champ Created At des formulaires de création/modification d'article
                        <em>/1pt</em>
                        <br><br>
                        Générer le CRUD des catégories via la commande <code>bin/console make:crud</code>  <em>/2pt</em><br>
                        - Rajouter le lien dans le menu admin -> Catégories<em>/1pt</em><br>
                        - inclure les pages du crud dans le design existant <em>/2pt</em><br>
                        - Ajouter une contrainte sur le formulaire Catégorie: Lorsqu'on créé ou modifie une catégorie, le nom doit d'être d'au moins 4 caractères <em>/2pt</em>
                        <br><br>
                        Lorsque j'accède à la page category_show (par exemple /category/1) j'aimerai voir la liste des articles de cette catégorie <em>/5pt</em>
                        <br><br>
                        Ordonner la liste des articles de la page article_index par ordre décroissant (requete sql déjà écrite) <em>/1pt</em>
                        <br><br>
                        Sécuriser la page category_delete pour n'être accessible que par l'admin <em>/2pt</em>
                        <br><br>
                    </p>
                </div>
            </div>
            <div class="col-lg-4 col-md-10">
                <div class="post-preview">
                    <a href="#TODO">
                        <h4 class="">
                            {{ lastArticle.title }}
                        </h4>
                        <h5 class="post-subtitle">
                            {{ lastArticle.content }}
                        </h5>
                    </a>
                    <p class="post-meta">Posted by
                        <a href="#TODO">Renaud</a>
                        le
                        {{ lastArticle.createdAt|date('d M Y') }}</p>
                </div>

                <div>
                    {% for category in categories %}
                        <div>{{ category.name }} ({{ category.articles|length }})</div>

                        {% for article in category.articles %}
                           <div class="pl-3">{{ article.title }}</div>
                        {% endfor %}
                    {% endfor %}
                </div>

                <!-- Pager -->
                <div class="clearfix">
                    <a class="btn btn-primary float-right" href="#TODO">Liste des articles</a>
                </div>
            </div>
    </div>
</main>

{% endblock %}
</div>
<hr>

<!-- Footer -->
<footer>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                <ul class="list-inline text-center">
                    <li class="list-inline-item">
                        <a href="#TODO">
                <span class="fa-stack fa-lg">
                  <i class="fas fa-circle fa-stack-2x"></i>
                  <i class="fab fa-linkedin fa-stack-1x fa-inverse"></i>
                </span>
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a href="#TODO">
                <span class="fa-stack fa-lg">
                  <i class="fas fa-circle fa-stack-2x"></i>
                  <i class="fab fa-github fa-stack-1x fa-inverse"></i>
                </span>
                        </a>
                    </li>
                </ul>
                <p class="copyright text-muted">Copyright &copy; Votre prof de symfony 2020</p>
            </div>
        </div>
    </div>
</footer>

<!-- Bootstrap core JavaScript -->
<script src="{{ asset('vendor/jquery/jquery.min.js') }}"></script>
<script src="{{ asset('vendor/bootstrap/js/bootstrap.bundle.min.js') }}"></script>


<!-- Custom scripts for this template -->
{% block javascripts %}{% endblock %}

</body>

</html>
